:root {
  --text-color: #101010;
  --margin-color: #c09d78;
  --main-color: #f2f8f4;
  --user-color: #214233;
  --aside-color: #93af94;
  --grey: #cfcdcd;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 360px;
  min-height: 120vh;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: var(--user-color);
  background-color: var(--grey);
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  border-style: ridge;
}

/* Header */
html {
  scroll-behavior: smooth;
}

.nav-list,
.list-footer {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-link,
.user-work,
.user-name,
.title,
.list-footer,
.section-title {
  font-family: "Oleo Script";
  font-style: normal;
  font-weight: 400;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  font-size: xx-large;
}

.nav-link,
.link,
.list-footer {
  text-decoration-line: none;
  color: var(--text-color);
}

.nav-link:hover {
  color: var(--margin-color);
  background-color: var(--main-color);
}

/* Main */
.main-block {
  display: flex;
  flex-direction: row;
}

.main-section {
  background-color: var(--main-color);
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.left-section {
  padding-left: 25px;
}

.user-name {
  font-size: 100px;
}

.span-item,
.contact-list,
.user-name,
.user-work,
.link-contact,
.icone {
  color: var(--main-color);
}

.user-work {
  font-size: 70px;
}

.user-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 0px;
  background-color: var(--user-color);
}

.user-photo {
  border-radius: 50%;
  margin: 25px 0px 0px 35px;
}

.section-title {
  font-size: 40px;
  color: var(--user-color);
}

.subtitle {
  padding-right: 25px;
}

.main-title {
  display: flex;
  justify-content: center;
  margin-right: 25px;
  background-color: var(--aside-color);
  color: var(--user-color);
}

.item {
  line-height: 30px;
}

.snippet {
  font-size: x-large;
}

/* Aside */
.aside-content {
  padding-left: 20px;
  background-color: var(--aside-color);
}

.contact-list {
  padding-left: 10px;
}
.item-contact {
  line-height: 30px;
  list-style: none;
}

/* Footer */
.link:hover {
  color: var(--grey);
  background-color: var(--user-color);
}

.footer,
.header {
  background-color: var(--margin-color);
  margin: -20px 0px;
}

.item-footer {
  padding-top: 15px;
}

.rs-school-img:hover {
  background-color: var(--grey);
}
